{{! template-lint-disable }}

<header>
  <h1 class="title missing-for-sure">My Page</h1>
  <p class="tagline missing-class">My tagline</p>
  <p class=i-do-not-exis>My tagline</p>
  <p class="a.something-3">blah</p>
  <p class="a.something-1">blah</p>
  <p class="a.something-1 does-not-exist-2 a.something-2"></p>
  <p class="a."></p>
</header>